openttd:
  major_version: 1
  minor_version: 5
  patch_version: 3
  install_from_site: true
  add_user: true
  user: openttd
  group: openttd

opengfx:
  major_version: 0
  minor_version: 5
  patch_version: 2
  fetch: true
  source_hash: sha1=1c25d2d4d906924725146e214910f14036820eb2
